# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Local secrets / configs
lib/core/config/google_oauth_config.dart
lib/core/config/ai_config.dart

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
/build/
/coverage/

# Flutter generated plugin files
**/generated_plugin_registrant.*
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.*

# Flutter platform ephemeral
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/ios/Flutter/ephemeral/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release